<!DOCTYPE html>
<html lang="en">

<%- include('../../Components/Header.ejs') %>
<%- include('../../Components/Styles.ejs') %>

<body style="font-family: DM Sans; sans-serif;">
	<div class="wrapper">
      <%- include('../../Routers/Navigation.ejs') %>
		<div class="main">
			<nav style="background-color: #353539; color: white;" class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a style="color: white; !important" class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                <i class="align-middle text-white" data-feather="copy"></i>
              </a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block text-white" href="#" data-bs-toggle="dropdown">
                <span class="text-white">View account info</span>
              </a>
							<div style="background-color: #45454B;" class="dropdown-menu dropdown-menu-end">
								<a style="background-color: #45454B; color: white;" class="dropdown-item" >Coin Balance: <span id="balance"></span></a>
								<a style="background-color: #45454B; color: white;" class="dropdown-item" >Plan: <%= packagename.charAt(0).toUpperCase() + packagename.slice(1) %></a>
            <script>
              let balance = document.getElementById("balance")
              balance.textContent = Math.floor(<%= coins %> * 100) / 100
            </script>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main style="background-color: #212122;" class="content">
				<div class="container-fluid p-0">
    <%
      let ram = 0;
      let disk = 0;
      let cpu = 0;
      let servers = pterodactyl.relationships.servers.data.length;
      for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
          ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
          disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
          cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
      }
    %>
					<div class="row">
						<div class="col-xl-8 col-xxl-5 d-flex">
							<div class="w-100">
								<div class="row">
									<div class="col-sm-6">
										<div style="background-color: #3a3a40; color: white; border: 3px solid #44444D;" class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">RAM available</h5>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= packages.ram + extraresources.ram - ram %>MB</h1>
											</div>
										</div>
										<div style="background-color: #3a3a40; color: white; border: 3px solid #44444D;" class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">CPU available</h5>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= packages.cpu + extraresources.cpu - cpu %>%</h1>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div style="background-color: #3a3a40; color: white; border: 3px solid #44444D;" class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Disk available</h5>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= packages.disk + extraresources.disk - disk %>MB</h1>
											</div>
										</div>
										<div style="background-color: #3a3a40; color: white; border: 3px solid #44444D;" class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Servers available</h5>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= packages.servers + extraresources.servers - servers %></h1>
											</div>
										</div>
                                    </div>
									<div class="col-sm-12">
										<div style="background-color: #3a3a40; color: white; border: 3px solid #44444D;" class="card">
											<div class="card-body">
												<div class="row">
													<div class="col mt-0">
														<h5 class="card-title">Plan</h5>
													</div>
												</div>
												<h1 class="mt-1 mb-3"><%= packagename.charAt(0).toUpperCase() + packagename.slice(1) %></h1>
											</div>
										</div>
                                    </div>
								</div>
							</div>
						</div>

						<div class="col-xl-6 col-xxl-7">
							<div style="background-color: #3a3a40; color: white; border: 3px solid #44444D;" class="card flex-fill w-100">
								<div style="background-color: #3a3a40; color: white;" class="card-header">

									<h5 class="card-title mb-0">Your Servers</h5>
								</div>
								<div class="card-body py-3">
                    <div style="color: white;" class="table-responsive">
                      <table style="background-color: #3a3a40;" class="table">
                        <thead style="background-color: #3a3a40;">
                          <tr>
                            <th style="color: white;"> Server Name </th>
                            <th style="color: white;"> Options </th>
                          </tr>
                        </thead>
                        <tbody style="background-color: #3a3a40;">
                            <% if (pterodactyl.relationships.servers.data.length == 0) { %>
                              <tr style="background-color: #3a3a40;">
                              <td style="color: white;"> No servers found. You can <a href="../servers/new" class="text-info">click here</a> to create one.</td>
                              </tr>
                            <% } else { %>
                              <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                                <tr style="background-color: #3a3a40;">
                                <td>
                                  <span class="pl-2 text-info"><%= pterodactyl.relationships.servers.data[i].attributes.name.length > 40 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 40) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %></span>
                                </td>
                                <td>
                                <a role="button" class="btn btn-info" href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">Edit</a>
                                <a role="button" class="btn btn-danger" onclick="if (confirm('Are you sure you want to delete the server? This action is irreversible.')) { window.location.href='/delete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }">Delete</a>
                                <a role="button" class="btn btn-danger" onclick="if (confirm('Are you sure you want to delete the server? This action is irreversible.')) { window.location.href='/forcedelete?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>' }">Force Delete</a>
                                </td>
                                </tr>
                              <% } %>
                            <% } %>
                        </tbody>
                      </table><br><br><br><br><br><br><br><br><br><br><br><br><br>
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>

			<footer style="background-color: #37373B;" class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-4 text-start">
							<p class="mb-0">
								<a class="text-muted" target="_blank">© <%= settings.name %> | Powered by <a style="color: white" href="https://gitlab.com/Heliactyl/panel/">Heliactyl</a>
							</p>
						</div>
						<div class="col-8 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<p><code style="color: #17a2b8;"">v<%= settings.version.replace(/"/g, `\\\\"`) %></code> - <span id="loadtime"></span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="../assets/js/app.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
			var gradient = ctx.createLinearGradient(0, 0, 0, 225);
			gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
			gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
			// Line chart
			new Chart(document.getElementById("chartjs-dashboard-line"), {
				type: "line",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "Sales ($)",
						fill: true,
						backgroundColor: gradient,
						borderColor: window.theme.primary,
						data: [
							2115,
							1562,
							1584,
							1892,
							1587,
							1923,
							2566,
							2448,
							2805,
							3438,
							2917,
							3327
						]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 1000
							},
							display: true,
							borderDash: [3, 3],
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}]
					}
				}
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Pie chart
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: "pie",
				data: {
					labels: ["Chrome", "Firefox", "IE"],
					datasets: [{
						data: [4306, 3801, 1689],
						backgroundColor: [
							window.theme.primary,
							window.theme.warning,
							window.theme.danger
						],
						borderWidth: 5
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					cutoutPercentage: 75
				}
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Bar chart
			new Chart(document.getElementById("chartjs-dashboard-bar"), {
				type: "bar",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "This year",
						backgroundColor: window.theme.primary,
						borderColor: window.theme.primary,
						hoverBackgroundColor: window.theme.primary,
						hoverBorderColor: window.theme.primary,
						data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
						barPercentage: .75,
						categoryPercentage: .5
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					scales: {
						yAxes: [{
							gridLines: {
								display: false
							},
							stacked: false,
							ticks: {
								stepSize: 20
							}
						}],
						xAxes: [{
							stacked: false,
							gridLines: {
								color: "transparent"
							}
						}]
					}
				}
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var markers = [{
					coords: [31.230391, 121.473701],
					name: "Shanghai"
				},
				{
					coords: [28.704060, 77.102493],
					name: "Delhi"
				},
				{
					coords: [6.524379, 3.379206],
					name: "Lagos"
				},
				{
					coords: [35.689487, 139.691711],
					name: "Tokyo"
				},
				{
					coords: [23.129110, 113.264381],
					name: "Guangzhou"
				},
				{
					coords: [40.7127837, -74.0059413],
					name: "New York"
				},
				{
					coords: [34.052235, -118.243683],
					name: "Los Angeles"
				},
				{
					coords: [41.878113, -87.629799],
					name: "Chicago"
				},
				{
					coords: [51.507351, -0.127758],
					name: "London"
				},
				{
					coords: [40.416775, -3.703790],
					name: "Madrid "
				}
			];
			var map = new jsVectorMap({
				map: "world",
				selector: "#world_map",
				zoomButtons: true,
				markers: markers,
				markerStyle: {
					initial: {
						r: 9,
						strokeWidth: 7,
						stokeOpacity: .4,
						fill: window.theme.primary
					},
					hover: {
						fill: window.theme.primary,
						stroke: window.theme.primary
					}
				},
				zoomOnScroll: false
			});
			window.addEventListener("resize", () => {
				map.updateSize();
			});
		});
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var date = new Date(Date.now() - 5 * 24 * 60 * 60 * 1000);
			var defaultDate = date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
			document.getElementById("datetimepicker-dashboard").flatpickr({
				inline: true,
				prevArrow: "<span title=\"Previous month\">&laquo;</span>",
				nextArrow: "<span title=\"Next month\">&raquo;</span>",
				defaultDate: defaultDate
			});
		});
	</script>
    <%- include('../../Components/LoadingBar.ejs') %>

</body>

</html>